# Local environment file
.env

# Python caches
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Text files
txt files/

# Data files
data/

# dbt
canada_housing/target/
canada_housing/dbt_packages/
canada_housing/logs/